# Volume Test Analysis

Run the cell below. It will prompt you for which directory to access with the pipeclean test results to analyze.

In [ ]:
from edfi_perf_test_analysis.volume import run_analysis, run_comparison
results_dir, df_stats = run_analysis()

# Comparison

Optional: run the following to select a second directory for head-to-head comparison of results.

In [2]:
run_comparison(results_dir, df_stats)

âœ… **Running analysis on C:\source\exchange\Suite-3-Performance-Testing\testResults\2022-10-31-volume-2**

## Summary Statistics

### Left Summary

Directory: C:\source\exchange\Suite-3-Performance-Testing\testResults\2022-10-31-volume-1

### Right Summary

Directory: C:\source\exchange\Suite-3-Performance-Testing\testResults\2022-10-31-volume-2

## Direct Comparison

Hypothesis: the average response times for each request are the same in both sets.

### Worse

95% confident that the response times are in fact different from on another, and the second data set is worse than the first data set.

### Same

95% confident that the response times are the same.

### Better

95% confident that the response times are in fact different from on another, and the second data set is better than the first data set.

### Too Few Data Points

There were < 30 data points for the following, therefore could not perform a T-Test to statistically compare the distributions.