# Pipeclean Test Analysis

Run the cell below. It will prompt you for which directory to access with the pipeclean test results to analyze.

In [1]:
from edfi_perf_test_analysis.pipeclean import run_analysis
run_analysis()

✅ **Running analysis on C:\source\exchange\Suite-3-Performance-Testing\testResults\2022-10-24-14-08-12**

### Exceptions

First five exceptions

❕ **No data to display**

### Failures

First five failures

❕ **No data to display**

### Summary Stats

### Ten Worst Average Response Times

### Ten Best Average Response Times