# Pipeclean Test Analysis

Run the cell below. It will prompt you for which directory to access with the pipeclean test results to analyze.

In [1]:
from edfi_perf_test_analysis.ui_helpers import get_result_directory
default_dir, compare_dir = get_result_directory()

In [2]:
from edfi_perf_test_analysis.pipeclean import run_analysis
run_analysis(default_dir)

✅ **Running analysis on c:\Simpat\edfi\Suite-3-Performance-Testing\TestResults\26MayP**

### Exceptions

First five exceptions

❕ **No data to display**

### Failures

First ten failures

### Summary Stats

### Ten Worst Average Response Times

### Ten Best Average Response Times