# Volume Test Analysis

Run the cell below. It will prompt you for which directory to access with the volume test results to analyze.

In [2]:
from edfi_perf_test_analysis.ui_helpers import get_result_directory
default_dir, compare_dir = get_result_directory()

In [3]:
from edfi_perf_test_analysis.volume import run_analysis, run_comparison
results_dir, df_stats = run_analysis(format(default_dir))

### Exceptions

First five exceptions

❕ **No data to display**

### Failures

First ten failures

### Summary Stats

### Ten Worst Average Response Times

### Ten Best Average Response Times

### Web Server Data

❕ **No data file available for display**

### Db Server Data

❕ **No data file available for display**

# Comparison

Optional: run the following to select a second directory for head-to-head comparison of results.

In [4]:
run_comparison(results_dir, df_stats, compare_dir)

## Summary Statistics

### Left Summary

Directory: C:\Simpat\edfi\Suite-3-Performance-Testing\TestResults\ultimo

### Right Summary

Directory: C:\Simpat\edfi\Suite-3-Performance-Testing\TestResults\primero

## Direct Comparison

Hypothesis: the average response times for each request are the same in both sets.

### Worse

95% confident that the response times are in fact different from on another, and the second data set is worse than the first data set.

❕ **No data to display**

### Same

95% confident that the response times are the same.

### Better

95% confident that the response times are in fact different from on another, and the second data set is better than the first data set.

❕ **No data to display**

### Too Few Data Points

There were < 30 data points for the following, therefore could not perform a T-Test to statistically compare the distributions.